/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
      .advantages_:nth-child(1) {
          margin-right: 30px;
     }
      .advantages_:nth-child(2) {
          margin-right: 30px;
     }
     .advang_mini:nth-child(1) {
          margin-top: 30px;
          margin-bottom: 30px;

     }
     .advang_mini:nth-child(2) {
          margin-bottom: 30px;
          
     }
     .menu_big_:nth-child(1) {
          margin-right: 40px;
     }
      .menu_big:nth-child(2) {
          margin-right: 40px;
     }
     

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
     .big_menu {
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

     }
     
     

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
      .miny_menu:nth-child(1) {
          margin-top: 30px;
          margin-bottom: 30px;

     }
     .miny_menu:nth-child(2) {
          margin-bottom: 30px;
          
     }
      
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
@media only screen and (max-width : 410px) {
    .cart {
     margin-right: 40px;
    }
    .mobile_menu {
      margin-right: 80px;
      margin-bottom: 5px;
    }
     .mobile_menu img  {
      width: 30px;
      height: 25px;
    }
    .logo {
     
     
    }
    .logo img {
     width: 130px;
     margin-left: 40px;
     margin-top: 5px;
    }
    .cart {
     margin-right: 20px;
    }
    .cart span {
      font-size: 13px;
    }
    .svvg {
     font-size: 5px;
     color: #fff;
     padding-right:  10px; 

}
   .miny_menu img {
     width: 200px;
}
   .advang_mini img {
       width: 120px;



}
    .text_  {
      
      font-size: 13px;
    
      
}



}
  
@media (min-width: 500px) and (max-width: 550px) {

      .mobile_menu {
      margin-left: 70px;
      margin-bottom: 5px;
    }
    
    .cart span {
     margin-left: 140px;
      
    }
     .svvg {
     position: relative;
     left: 140px;

}

}
@media (min-width: 550px) and (max-width: 600px) {

      .mobile_menu {
      margin-left: 110px;
      margin-bottom: 5px;
    }
    
    .cart span {
     margin-left: 245px;
      
    }
     .svvg {
     position: relative;
     left: 250px;

}

}
@media (min-width: 600px) and (max-width: 650px) {

      .mobile_menu {
      margin-left: 140px;
      margin-bottom: 5px;
    }
    
    .cart span {
     margin-left: 315px;
      
    }
     .svvg {
     position: relative;
     left: 320px;

}

}
@media (min-width: 650px) and (max-width: 700px) {

      .mobile_menu {
      margin-left: 180px;
      margin-bottom: 5px;
    }
    
    .cart span {
     margin-left: 410px;
      
    }
     .svvg {
     position: relative;
     left: 410px;

}

}

@media (min-width: 700px) and (max-width: 750px) {

      .mobile_menu {
      margin-left: 220px;
      margin-bottom: 5px;
    }
    
    .cart span {
     margin-left: 500px;
      
    }
     .svvg {
     position: relative;
     left: 500px;

}

}
@media (min-width: 750px) and (max-width: 767px) {

      .mobile_menu {
      margin-left: 250px;
      margin-bottom: 5px;
    }
    
    .cart span {
     margin-left: 560px;
      
    }
     .svvg {
     position: relative;
     left: 560px;

}

}

@media (min-width: 768px) and (max-width: 900px) {
  
   .nav_top {
     margin-top: 20px;
     margin-left: 20px;
     font-size: 10px;

   }

  .logo img {
     position: relative;
     right: 60px;
  }

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (max-width : 570px) {
  
  
}